
@{
    ViewBag.Title = "Index";
}

<h2>Witaj i zanurz się... zadłuż się i zabukuj swój pobyt! <br /> Z nami marzenia się spełniają!</h2>

<img src="@Url.Content("~/Images/o.jpg")" class="img-responsive"/>